

@{
    ViewBag.Title = "Index";

    <script src="~/Content/Services/categoryService.js"></script>
<script src="~/Content/Controllers/categoryController.js"></script>
}

<h2>Index</h2>

<div ng-controller="categoryCont">

    <span ng-click="AddCategoryDiv()" class="btnGreen">
        Add Employee
    </span>
   
    <div class="divList">
      
        <table cellpadding="12">
            <tr>
                <td><b>ID</b></td>
                <td><b>Name</b></td>
              
                <td><b>Count</b></td>
                <td><b>Actions</b></td>
            </tr>
            <tr ng-repeat="category in categories">
                <td>
                    {{category.Id}}
                </td>
                <td>
                    {{category.Name}}
                </td>
                <td>
                    {{category.Count}}
                </td>
                <td>
                    <span ng-click="editCategory(category)" class="btnGreen">Edit</span>
                    <span ng-click="deleteCategory(category)" class="btnRed">Delete</span>
                </td>
               
            </tr>
        </table>
    </div>

    <div ng-show="divCategory">
        <p class="divHead">{{Action}} Category</p>
        <table>
            <tr>
                <td><b>Id</b></td>
                <td>
                    <input type="text" disabled="disabled" ng-model="Id" />
                </td>
            </tr>
            <tr>
                <td><b>Name</b></td>
                <td>
                    <input type="text" ng-model="Name" />
                </td>
            </tr>
          
            <tr>
                <td><b>Count</b></td>
                <td>
                    <input type="text" ng-model="Count" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="button" class="btnGreen" value="Save" ng-click="AddUpdateCategory()" />
                </td>
            </tr>
        </table>
    </div>
</div>
