@{
    ViewBag.Title = "Index";

    <script src="~/Content/Controllers/Controller.js"></script>
        <script src="~/Content/Services/Service.js"></script>
}



    <div ng-controller="myCntrl">

        <!-- Standard button -->
        <button type="button" class="btn btn-default">Default</button>

        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <button type="button" class="btn btn-primary">Primary</button>

        <!-- Indicates a successful or positive action -->
        <button type="button" class="btn btn-success">Success</button>

        <!-- Contextual button for informational alert messages -->
        <button type="button" class="btn btn-info">Info</button>

        <!-- Indicates caution should be taken with this action -->
        <button type="button" class="btn btn-warning">Warning</button>

        <!-- Indicates a dangerous or potentially negative action -->
        <button type="button" class="btn btn-danger">Danger</button>

        <!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
        <button type="button" class="btn btn-link">Link</button>
        <button type="submit" class="btn btn-primary">Submit</button>
        <span ng-click="AddEmployeeDiv()" class="btnGreen">
            Add Employee
        </span>
        <button class="btnGreen"></button>
        {{12+4}}
        <div class="divList">
            <p class="divHead">Employee List</p>
            <table cellpadding="12">
                <tr>
                    <td><b>ID</b></td>
                    <td><b>Name</b></td>
                    <td><b>Email</b></td>
                    <td><b>Age</b></td>
                    <td><b>Actions</b></td>
                </tr>
                <tr ng-repeat="employee in employees">
                    <td>
                        {{employee.Id}}
                    </td>
                    <td>
                        {{employee.Name}}
                    </td>
                    <td>
                        {{employee.Email}}
                    </td>
                    <td>
                        {{employee.Age}}
                    </td>
                    <td>
                        <span ng-click="editEmployee(employee)" class="btnGreen">Edit</span>
                        <span ng-click="deleteEmployee(employee)" class="btnRed">Delete</span>
                    </td>
                </tr>
            </table>
        </div>

        <div ng-show="divEmployee">
            <p class="divHead">{{Action}} Employee</p>
            <table>
                <tr>
                    <td><b>Id</b></td>
                    <td>
                        <input type="text" disabled="disabled" ng-model="employeeId" />
                    </td>
                </tr>
                <tr>
                    <td><b>Name</b></td>
                    <td>
                        <input type="text" ng-model="employeeName" />
                    </td>
                </tr>
                <tr>
                    <td><b>Email</b></td>
                    <td>
                        <input type="text" ng-model="employeeEmail" />
                    </td>
                </tr>
                <tr>
                    <td><b>Age</b></td>
                    <td>
                        <input type="text" ng-model="employeeAge" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="button" class="btnGreen" value="Save" ng-click="AddUpdateEmployee()" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
